{{#if showLabel}}
	<label class="{{if inline 'all-20 align-right' ''}}">{{label}}</label>
{{/if}}
<div class="control {{if inline 'all-80' ''}}">
	{{#if showCheckbox}}
		<input type="{{type}}" checked="{{value}}" name="{{name}}" />
	{{else}}
		<input type="{{type}}" value="{{value}}" placeholder="{{placeholder}}" />
	{{/if}}
	{{#if showTip}}
		<p class="tip">{{tip}}</p>
	{{/if}}
</div>