{{#if showForm}}
	<div class="control-group column-group gutters">
		<label class="all-20 align-right">Password</label>
		<div class="control all-80">
			{{input type="password" class=inputClass value=password}}
		</div>
	</div>
	<div class="control-group column-group gutters">
		<label class="all-20 align-right">Retype Password</label>
		<div class="control all-80">
			{{input type="password" class=inputClass value=retype}}
		</div>
	</div>
	<div class="control-group column-group gutters">
		<button class="ink-button blue" {{action 'register'}} disabled={{isRegistering}}>
			Register
			{{#if isRegistering}}
				<i class="fa fa-refresh fa-spin"></i>
			{{/if}}
		</button>
	</div>
{{/if}}
{{#if showMessage}}
	<div class="{{msgClass}}">{{msg}}</div>
{{/if}}