<div class="control-group column-group gutters">
	<label class="all-20 align-right">{{usernameLabel}}</label>
	<div class="control all-80">
		{{input type="text" class=inputClass value=username}}
	</div>
</div>
<div class="control-group column-group gutters">
	<label class="all-20 align-right">{{passwordLabel}}</label>
	<div class="control all-80">
		{{input type="password" class=inputClass value=password}}
	</div>
</div>
<div class="control-group column-group gutters">
	<button class="ink-button blue" {{action 'login'}}>
		{{loginButtonLabel}}
		{{#if isAuthenticating}}
			<i class="fa fa-refresh fa-spin"></i>
		{{/if}}
	</button>
</div>
{{#if showMessage}}
	<div class="{{msgClass}}">{{msg}}</div>
{{/if}}